# data files/directories
.DS_Store
*.csv
*.json
*.xml

# venv
.venv

# env
.env

# pytest
__pycache__
pycache/
*.pyc
.pytest_cache
.coverage

# terraform
.terraform*
*.tfvars
*.tfstate*

# streamlit
secrets.toml